[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "logisticRR"]
	path = logisticRR
	url = https://github.com/youjin1207/logisticrr
